* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
  }
  
  html, body{
    position: relative;
    overflow-x: hidden;
    width: 100vw;
  }
  
  
  body {
    font-family: Arial, sans-serif;
  }
  
  :root {
    --preto: rgb(0, 0, 0);
    --cinza-preto: rgb(85, 85, 85);
    --cinza-branco: rgb(170, 170, 170);
    --branco: rgb(255, 255, 255);
  }
  
  .referencias {
    text-align: center;
  }
  
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html, body{
  position: relative;
  overflow-x: hidden;
  width: 100vw;
}


body {
  font-family: Arial, sans-serif;
}

:root {
  --preto: rgb(0, 0, 0);
  --cinza-preto: rgb(85, 85, 85);
  --cinza-branco: rgb(170, 170, 170);
  --branco: rgb(255, 255, 255);
}

.referencias {
  text-align: center;
}

/* CAPA E BENEFICIO*/

.capa{
    height: calc(100vh - 200px);
    overflow-y: hidden;
}

.capa_imagem{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: 50% 50%; */
}

/* VANTAGEM */

.vantagem{
    background-color: rgb(85, 85, 85);
    height: 100px;
}

.para-rolar{
    background-color: rgb(170, 170, 170);
    height: 100vh;
}

/**
.vantagem{
    background-color: rgb(170, 170, 170);
    height: 100px;
    position: relative;
    overflow-x: hidden;
}

.vantagem_item{
    background-color: brown;
    width: 100%;
    height: 100%;
}

.vantagem_item:nth-child(1){
    background-color: darkcyan;
}

.vantagem_seta-esquerda{
    background-color: blueviolet;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;

}

.vantagem_seta-direita{
    background-color: blueviolet;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
}

**/




  