* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
  }
  
  html, body{
    position: relative;
    overflow-x: hidden;
    width: 100vw;
  }
  
  
  body {
    font-family: Arial, sans-serif;
  }
  
  :root {
    --preto: rgb(0, 0, 0);
    --cinza-preto: rgb(85, 85, 85);
    --cinza-branco: rgb(170, 170, 170);
    --branco: rgb(255, 255, 255);
    --doc-height: 100%;
  }
  
  .referencias {
    text-align: center;
  }
  
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html, body{
  position: relative;
  overflow-x: hidden;
  width: 100vw;
}


body {
  font-family: Arial, sans-serif;
}

:root {
  --preto: rgb(0, 0, 0);
  --cinza-preto: rgb(85, 85, 85);
  --cinza-branco: rgb(170, 170, 170);
  --branco: rgb(255, 255, 255);
}

.referencias {
  text-align: center;
}

.para-rolar{
    background-color: rgb(170, 170, 170);
    height: 100vh;
}